.server-img {
    width: 1000px;
}

@media (min-width: 768px) and (max-width: 991px) {
    .server-img {
        width: 750px;
    }
  }
  @media (min-width: 480px) and (max-width: 767px) {
    .server-img {
        width: 700px;
    }
  }
  @media (min-width: 480px) and (max-width: 700px) {
    .server-img {
        width: 600px;
    }
  }
  @media (min-width: 480px) and (max-width: 600px) {
    .server-img {
        width: 480px;
    }
  }
  @media (min-width: 320px) and (max-width: 480px) {
    .server-img {
        width: 350px;
    }
  }
  @media (max-width: 320px) {
    .server-img {
        width: 300px;
    }
  }